@page "/"
@using System.Runtime.InteropServices

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        Console.WriteLine("Expecting 42");
        Console.WriteLine("Calling with return type int:" + TestMethod());
        Console.WriteLine("Calling with return type struct:" + TestMethodStruct().Value);
        Console.WriteLine("Calling with return type enum:" + TestMethodEnum());

        Console.WriteLine("Testing parameter blitting");
        Console.WriteLine("Calling with return type int:" + BlitToInt(42));
        Console.WriteLine("Calling with return type struct:" + BlitToIntStruct(new TestStruct() { Value = 42 }));
        Console.WriteLine("Calling with return type enum:" + BlitToIntMarshalledStruct(new TestStruct() { Value = 42 }));

    }

    [DllImport("Test", EntryPoint = "TestMethod")]
    public static extern int TestMethod();
    [DllImport("Test", EntryPoint = "TestMethod")]
    public static extern TestStruct TestMethodStruct();
    [DllImport("Test", EntryPoint = "TestMethod")]
    public static extern TestEnum TestMethodEnum();
    
    [DllImport("Test", EntryPoint = "BlitToInt")]
    public static extern int BlitToInt(int val);
    [DllImport("Test", EntryPoint = "BlitToInt")]
    public static extern int BlitToIntStruct(TestStruct val);
    [DllImport("Test", EntryPoint = "BlitToInt")]
    public static extern int BlitToIntMarshalledStruct([MarshalAs(UnmanagedType.I4)] TestStruct val);

    public struct TestStruct
    {
        public int Value;
    }

    public enum TestEnum
    {
        Zero = 0,
        FourTwo = 42
    }
}